$default-transition: 0.3s ease-in-out;

@mixin underline-grown {
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: var(--link-active-color);
    transition: width $default-transition;
  }

  &:hover::after {
    width: 100%;
  }

  &--active::after {
    width: 100%;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(4px);
  }
  to {
    transform: translateY(-4px);
  }
}

@mixin move-up {
  animation: slide-up 0.5s infinite ease-in-out forwards;
}
