:root {
  --color-primary: #313237;
  --color-secondary: #89939a;
  --color-icons: #b4bdc3;
  --color-elements: #e2e6e9;
  --color-hover: #fafbfc;
  --color-shadow: #172031;
  --color-white: #fff;
  --color-green: #27ae60;
  --color-red: #eb5757;
  --background-color: var(--color-white);
  --common-shadow: var(--color-elements);
  --header-icon-border: var(--color-elements);
  --icon-primary-color: var(--color-primary);
  --link-active-color: var(--color-primary);
  --link-secondary-color: var(--color-secondary);
  --link-footer: var(--color-secondary);
  --footer-message: var(--color-secondary);
  --footer-icon-background: var(--color-white);
  --footer-icon-border: var(--color-icons);
  --counter-border: var(--color-white);
  --swiper-navigation-color: var(--color-primary);
  --swiper-navigation-background: var(--color-white);
  --swiper-navigation-border-color: var(--color-icons);
  --swiper-navigation-background-disabled: transparent;
  --swiper-navigation-disabled: var(--color-elements);
  --swiper-bullet-color: var(--color-icons);
  --swiper-bullet-active-color: var(--color-primary);
  --typo-h1-color: var(--color-primary);
  --typo-h2-color: var(--color-primary);
  --typo-h4-color: var(--color-primary);
  --typo-body-color: var(--color-secondary);
  --card-border: var(--color-elements);
  --typo-card-color: var(--color-primary);
  --card-field: var(--color-secondary); //
  --card-data: var(--color-primary);
  --card-button-accent: var(--color-white);
  --card-button-add-background: var(--color-primary);
  --card-button-add-border: var(--color-primary);
  --card-button-added: var(--color-green);
  --card-button-added-background: transparent;
  --card-button-added-border: var(--color-elements);
  --card-button-fav-background: transparent;
  --card-button-fav-border: var(--color-elements);
  --card-button-faved: var(--color-red);
  --card-button-faved-background: transparent;
  --card-button-faved-border: var(--color-icons);
  --color-price: var(--color-primary);
  --color-through: var(--color-secondary);
}

:root[data-theme="dark"] {
  --color-secondary: #75767f;
  --color-icons: #4a4d58;
  --color-elements: #3b3e4a;
  --color-surface: #161827;
  --color-surface-2: #323542;
  --color-black: #0f1121;
  --color-white: #f1f2f9;
  --color-accent: #985cfc;
  --color-hover: #a378ff;
  --color-bg: #101424;
  --background-color: var(--color-black);
  --common-shadow: var(--color-surface-2);
  --header-icon-border: var(--color-surface-2);
  --icon-primary-color: var(--color-white);
  --link-active-color: var(--color-white);
  --link-secondary-color: var(--color-secondary);
  --footer-message: var(--color-secondary);
  --footer-icon-background: var(--color-surface-2);
  --footer-icon-border: var(--color-surface-2);
  --counter-border: var(--color-black);
  --link-footer: var(--color-white);
  --swiper-navigation-color: var(--color-white);
  --swiper-navigation-background: var(--color-surface-2);
  --swiper-navigation-border-color: var(--color-surface-2);
  --swiper-navigation-disabled: var(--color-elements);
  --swiper-navigation-background-disabled: transparent;
  --swiper-bullet-color: var(--color-elements);
  --swiper-bullet-active-color: var(--color-white);
  --typo-h1-color: var(--color-white);
  --typo-h2-color: var(--color-white);
  --typo-h4-color: var(--color-white);
  --typo-body-color: var(--color-secondary);
  --card-border: transparent;
  --card-background: var(--color-surface);
  --typo-card-color: var(--color-white);
  --card-field: var(--color-secondary);
  --card-data: var(--color-white);
  --card-button-accent: var(--color-white);
  --card-button-add-background: var(--color-accent);
  --card-button-added: var(--color-white);
  --card-button-added-background: var(--color-surface-2);
  --card-button-fav: var(--color-white);
  --card-button-fav-background: var(--color-surface-2);
  --card-button-fav-border: transparent;
  --card-button-faved: var(--color-red);
  --card-button-faved-background: transparent;
  --card-button-faved-border: var(--color-elements);
  --color-price: var(--color-white);
  --color-through: var(--color-secondary);
}
