.spinner {
  width: 120px;
  height: 120px;
  border: 12px solid var(--color-secondary);
  border-top-color: var(--spinner);
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  margin: auto;

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}
