@use "../../styles/variables.module" as variables;
@use "../../styles/layout.module" as layout;
@use "../../styles/animation.module" as animated;

.header {
  height: variables.$header--mobile;
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 0px 0px var(--common-shadow);


  @include layout.on-desktop {
    height: variables.$header--desktop;
    padding-block: 18px;
  }
}
