@use "../../styles/layout.module" as layout;

.section {
  margin-block: 56px;

  @include layout.on-tablet {
    margin-block: 64px;
  }

  @include layout.on-desktop {
    margin-block: 80px;
  }

  &__header {
    margin-block: 24px;

    @include layout.flex-center;
    @include layout.content-padding-inline;
    @include layout.page-grid;
  }

  &__title {
    grid-column: span 2;

    @include layout.on-tablet {
      grid-column-start: 1;
      grid-column-end: -3;
    }

    &--by-category {
      grid-column: 1/-1;
    }
  }

  &__buttons {
    grid-column-end: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    @include layout.on-tablet {
      grid-row-end: -2;
    }
  }

  &__carousel {
    grid-column: 1/-1;
    width: 100%;

    @include layout.on-desktop {
      @include layout.content-padding-inline;
    }
  }

  &__card-container {
    margin-left: 16px;
    width: fit-content;

    @include layout.on-desktop {
      margin-left: 0;
    }
  }

  &__by-category {
    gap: 32px;

    @include layout.content-padding-inline;
    @include layout.on-tablet {
      gap: 16px;
    }
  }

  &__by-category-list {
    display: flex;
    flex-direction: column;

    @include layout.page-grid;
    @include layout.on-tablet {
      flex-direction: row;
    }
  }

  &__by-category-item {
    grid-column: 1/-1;

    @include layout.on-tablet {
      grid-column: span 4;
    }

    @include layout.on-desktop {
      grid-column: span 8;
    }
  }

  &__by-category-container {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;

    &--phones {
      background-color: #706474;
    }

    &--tablets {
      background-color: #908c94;
    }

    &--accessories {
      background-color: #983c5c;
    }
  }

  &__by-category-image {
    position: absolute;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: top left;
    transition: all 0.3s ease-in-out;

    &--phones {
      width: 120%;
      bottom: -20%;
      right: -25%;
    }

    &--tablets {
      width: 130%;
      bottom: -37%;
      right: -40%;
    }

    &--accessories {
      width: 120%;
      bottom: -32%;
      right: -30%;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__by-category-detail {
    margin-top: 24px;
  }
}
