@use "../../styles/variables.module" as variables;
@use "../../styles/layout.module" as layout;
@use "../../styles/animation.module" as animated;

.nav-bar {
  width: 100%;
  display: flex;

  &--space-between {
    justify-content: space-between;
  }

  &__links {
    display: flex;

    &--header {
      display: none;

      @include layout.on-tablet {
        @include layout.flex-center;

        gap: 32px;
      }

      @include layout.on-desktop {
        gap: 64px;
      }
    }

    &--footer {
      grid-column: 1/-1;
      flex-direction: column;
      gap: 16px;

      @include layout.on-tablet {
        grid-column: span 4;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: auto;
      }

      @include layout.on-desktop {
        grid-column: span 8;
      }
    }

    &--menu {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 16px;
      margin-top: 24px;
    }
  }

  &__link {
    position: relative;
    display: block;
    font-size: 12px;
    font-weight: 800;
    line-height: 11px;
    letter-spacing: 4%;
    text-transform: uppercase;
    color: var(--link-secondary-color);

    &--header {
      height: variables.$header--mobile;

      @include layout.flex-center;

      @include layout.on-desktop {
        height: variables.$header--desktop;
      }
    }

    &--footer {
      color: var(--link-footer);
    }

    &--menu {
      height: 20px;
    }

    &--selected {
      color: var(--link-active-color);
    }

    &--under {
      cursor: not-allowed;
    }

    &--maintenance {
      position: absolute;
      left: 120px;
      opacity: 0;
      color: var(--color-red);
      cursor: not-allowed;

      @include layout.on-tablet {
        top: -16px;
        left: 0;
        text-wrap: nowrap;
      }
    }

    &:hover {
      .nav-bar__link--maintenance {
        opacity: 1;
      }
    }
  }
}
