@use "./styles/reset.module";
@use "./styles/root.module";
@use "./styles/font_face.module";
@use "./styles/variables.module" as variables;
@use "./styles/layout.module" as layout;
@use "./styles/animation.module" as animated;
@use "./components/header/Header.module";
@use "./components/logo/Logo.module";
@use "./components/nav-bar/NavBar.module";
@use "./components/footer/Footer.module";
@use "./components/icons/Icon.module";
@use "./components/menu/Menu.module";
@use "./components/hero/Hero.module";
@use "./components/section/Section.module";
@use "./components/typography/Typography.module";
@use "./components/swiper-navigation-button/SwiperNavigationButton.module";
@use "./components/card/Card.module";
@use "./components/spinner/Spinner.module";

* {
  font-family: Mont, sans-serif !important;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
}

.grown {
  @include animated.underline-grown;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.swiper-pagination-bullet {
  width: 14px;
  height: 4px;
  border-radius: 0;
  background-color: var(--swiper-bullet-color);
}

.swiper-pagination-bullet-active {
  background-color: var(--swiper-bullet-active-color);
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}

.skeleton-banner--wrapper {
  grid-column: 1/-1;
  width: 100vw;
  aspect-ratio: 1/1;
  overflow: hidden;

  @include layout.on-tablet {
    width: calc(100vw - 32px);
    aspect-ratio: 16/9;

    @include layout.content-padding-inline;
  }
}

.page-spinner {
  height: calc(100vh - (variables.$header--mobile + 225px));
  display: flex;
  align-items: center;
  justify-content: center;

  @include layout.on-tablet{
    height: calc(100vh - (variables.$header--mobile + 96px));
  }

  @include layout.on-desktop{
    @include layout.on-tablet{
      height: calc(100vh - (variables.$header--desktop + 96px));
    }
  }
}
