@use "./styles/reset.module";
@use "./styles/root.module";
@use "./styles/font_face.module";
@use "./styles/animation.module" as animated;
@use "./components/header/Header.module";
@use "./components/logo/Logo.module";
@use "./components/nav-bar/NavBar.module";
@use "./components/footer/Footer.module";
@use "./components/icons/Icon.module";
@use "./components/menu/Menu.module";
@use "./components/hero/Hero.module";
@use "./components/typography/Typography.module";
@use "./components/swiper-navigation-button/SwiperNavigationButton.module";

* {
  font-family: Mont, sans-serif !important;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
}

.grown {
  @include animated.underline-grown;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.swiper-pagination-bullet {
  width: 14px;
  height: 4px;
  border-radius: 0;
  background-color: var(--swiper-bullet-color);
}

.swiper-pagination-bullet-active {
  background-color: var(--swiper-bullet-active-color);
}
